.input>input,
.input>select {
    background-color: white;
    border: none;
    padding: 10px;
    margin-right: 10px;
    height: 36px;
}

.input>input:focus,
.input>select:focus {
    outline: none;
}

.input>label {
    height: 40px;
    padding: 10px;
    background-color: red;
    color: white;
}

.input {
    padding: 3px;
}