<div class="tools-container">
    <div class="tools">
        <button (click)="showNotificationContainer()">
            <i class="fas fa-bell"></i>
        </button>
        <button [routerLink]="[{ outlets: { drawer: ['user'] } }]" routerLinkActive="tools-active">
            <i class="fas fa-user"></i>
        </button>
        <button [routerLink]="[{ outlets: { drawer: ['admin'] } }]" routerLinkActive="tools-active">
            <i class="fas fa-shield-alt"></i>
        </button>
        <button [matMenuTriggerFor]="menu">
            <i class="fas fa-language"></i>
        </button>
        <button (click)="onSignOut()">
            <i class="fas fa-power-off"></i>
        </button>
    </div>
</div>

<mat-menu #menu="matMenu">
    <button mat-menu-item (click)="setLang('FR')">
        <mat-icon><span class="flag-icon flag-icon-fr"></span></mat-icon>
        <span>Français</span>
    </button>
    <button mat-menu-item (click)="setLang('EN')">
        <mat-icon><span class="flag-icon flag-icon-gb"></span></mat-icon>
        <span>Anglais</span>
    </button>
</mat-menu>