.tile {
    vertical-align: top;
    display: inline-block;
    text-transform: uppercase;
    padding: 7px;
    background-color: gray;
    color: white;
    cursor: pointer;
}

.tile.rectangle {
    width: 24rem;
    height: 12rem;
}

.tile.square {
    width: 12rem;
    height: 12rem;
    border-radius: 0 0 10px 0;
}

.tile:hover:not(.tile-active) {
    animation: redBg 0.5s;
    background-color: red;
}

@keyframes redBg {
    0% {
        background-color: gray;
    }
    100% {
        background-color: red;
    }
}

.settings {
    position: absolute;
    right: 0;
    bottom: 0;
    color: white;
    background-color: transparent;
    border: none;
    width: 30px;
    height: 30px;
}

.settings:hover {
    color: black;
}

.settings:focus {
    outline: none;
}