<div class="flip-card" *ngIf="acc">
    <div class="flip-card-inner">
        <div matRipple class="flip-card-front card" [class.tile-active]="active">
            <p>{{acc.name}}</p>
            <div>&euro; {{acc.total}}</div>
        </div>
        <div matRipple class="flip-card-back card" [class.tile-active]="active">
            <table style="width: 100%;">
                <tr *ngFor="let entry of acc.lastEntries">
                    <td>{{entry.title}}</td>
                    <td>{{entry.amount}}</td>
                </tr>
            </table>
            <span class="actions">
                <button class="settings" (click)="onRefresh()"><i class="fas fa-sync"></i></button>
                <button class="settings"><i class="fas fa-cog"></i></button>
            </span>
        </div>
    </div>
</div>