.menu-btn {
    height: 3em;
    min-width: 3em;
    border: 0;
    padding: 10px;
    font-size: larger;
    transition: .5s;
}

.menu-btn:focus {
    outline: none;
}

.menu-btn-active {
    color: red;
}

.menu-btn:hover {
    color: red;
}

.menu-btn:last-child {
    border-radius: 0 0 10px 0;
}

.menu-btn.tool {
    background-color: gainsboro;
}

.menu-btn.tab {
    background-color: rgba(240, 240, 240, 0.9);
}

.menu-btn.tab:not(:last-child) {
    box-shadow: 5px 0 5px -5px black;
}

.menu-btn.tab>.close-tab {
    padding-left: .5em;
    color: unset;
}

.menu-btn.tab>.close-tab:hover {
    color: unset;
    font-weight: bolder;
}

.tabs {
    width: 300px
}

.shadow {
    box-shadow: 5px 0 5px -5px black;
}