<mat-drawer-container autosize [hasBackdrop]="false" style="height: 100vh;">
    <mat-drawer #drawer mode="side">
        <div style="text-align: right; margin: 5px;">
        </div>
        <app-menu-tools></app-menu-tools>
        <router-outlet name="drawer"></router-outlet>
    </mat-drawer>
    <app-menu class="menu" (showNotification)="drawer.toggle()"></app-menu>
    <div>
        <router-outlet></router-outlet>
    </div>
    <div class="footer">
        Last modification {{lastModified | date}}
    </div>
</mat-drawer-container>