table {
    width: 100%;
}

th {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    text-align: left;
    height: 4rem;
}

tr {
    border-bottom: 1px gray dashed;
    height: 3rem;
}

.search {
    width: 50%;
    height: 40px;
    border: inherit;
    margin: inherit;
    padding: 2rem;
    margin-bottom: 20px;
}

.erase {
    margin-bottom: 20px;
    height: 40px;
    background-color: white;
    border: none;
    width: 40px;
}

.erase:hover {
    color: red;
}

.search:focus,
.erase:focus,
.add:focus {
    outline: none;
}

.add {
    height: 40px;
    width: 40px;
    border: none;
    background-color: red;
    padding: 1rem;
    margin-bottom: 20px;
    color: white;
    margin-right: 20px;
}

.add:hover {
    background-color: gray;
}