<div class="card-body" [formGroup]="signForm">
    <mat-form-field appearance="fill" class="full-width">
        <mat-label>Identifiant</mat-label>
        <input matInput formControlName="username">
    </mat-form-field>

    <mat-form-field appearance="fill" class="full-width">
        <mat-label>Code</mat-label>
        <input matInput [type]="pass1Visible ? 'text' : 'password'" readonly [value]="pass1">
        <button mat-icon-button matSuffix (click)="pass1Visible = !pass1Visible" [attr.aria-label]="'Hide password'">
        <mat-icon>{{pass1Visible ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
    </mat-form-field>

    <app-pass-code class="center" (back)="removeLastPass1()" (nb)="addNumber1($event)" (erase)="erasePass1()"></app-pass-code>

    <mat-form-field appearance="fill" class="full-width">
        <mat-label>Confirmer code</mat-label>
        <input matInput [type]="pass2Visible ? 'text' : 'password'" readonly [value]="pass2">
        <button mat-icon-button matSuffix (click)="pass2Visible = !pass2Visible" [attr.aria-label]="'Hide password'">
        <mat-icon>{{pass2Visible ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
    </mat-form-field>

    <app-pass-code class="center" (back)="removeLastPass2()" (nb)="addNumber2($event)" (erase)="erasePass2()"></app-pass-code>
    <div class="right">
        <button mat-button (click)="goLogin.emit()" type="submit">Se connecter</button>
        <button mat-stroked-button color="primary" (click)=" onSignIn()" type="submit" [disabled]="!isSamePassword() && signForm.invalid">S'inscrire</button>
    </div>
</div>