<div class="alert rounded" (mouseenter)="isHover = true" (mouseleave)="isHover = false">
    <span *ngIf="!notification.showAction" class="closebtn" (click)="_notificationService.remove(notification)" [class.color-red]="isHover">&times;</span>
    <p translate>{{notification.text}}</p>
    <!-- <small *ngIf="notification.date">{{notification.date | date: 'dd MMMM yyyy hh:mm'}}</small> -->
    <div *ngIf="notification.showAction" style="text-align: right;">
        <button mat-button (click)="notification.sendAction(EDialogAction.Cancel)">{{'button.cancel'|translate}}</button>
        <button mat-button color="primary" (click)="notification.sendAction(EDialogAction.OK)">{{'button.ok'|translate}}</button>
    </div>
</div>