<div class="tools-container">
    <div class="tools">
        <button mat-icon-button routerLink="user" routerLinkActive="tools-active">
            <i class="fas fa-cogs"></i>
        </button>
        <button mat-icon-button routerLink="admin" routerLinkActive="tools-active">
            <i class="fas fa-user-shield"></i>
        </button>
        <button mat-icon-button [matMenuTriggerFor]="menu">
            <i class="fas fa-language"></i>
        </button>
        <button mat-icon-button (click)="onSignOut()">
            <i class="fas fa-sign-out-alt"></i>
        </button>
    </div>
</div>

<mat-menu #menu="matMenu">
    <button mat-menu-item (click)="setLang('FR')">
        <mat-icon><span class="flag-icon flag-icon-fr"></span></mat-icon>
        <span>Français</span>
    </button>
    <button mat-menu-item (click)="setLang('EN')">
        <mat-icon><span class="flag-icon flag-icon-gb"></span></mat-icon>
        <span>Anglais</span>
    </button>
</mat-menu>