html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.full-width {
    width: 100%;
}

.center {
    text-align: center;
}

.right {
    text-align: right;
}

.left {
    text-align: left;
}

.active {
    border: 1px solid black !important;
}

.mat-dialog-container {
    border-radius: 0 0 10px 0 !important;
}

.cdk-overlay-pane {
    width: 50%;
}