<mat-toolbar *ngIf="isAuthenticated()">
    <button mat-stroked-button (click)="toggleMenu()">
            <i [ngClass]=" { 'fa fa-chevron-down rotate180': clicked, 'fa fa-chevron-down rotate-back': !clicked} " class="fas fa-chevron-right "></i>
        </button>
    <button mat-stroked-button routerLinkActive="active" *ngIf="!!username" routerLink="user">
            Bonjour {{username | name}} !
        </button>
    <button mat-stroked-button routerLinkActive="active" *ngIf="clicked" routerLink="dashboard">
            Tableau de bord
        </button>
    <button mat-stroked-button *ngIf="clicked" (click)="onSignOut()">
            <i class="fas fa-sign-out-alt"></i>
        </button>

</mat-toolbar>