<mat-toolbar *ngIf="isAuthenticated()" class="scrollMenu">
    <button mat-stroked-button *ngIf="!!username" [matBadge]="_notificationService.notifications.length" [matBadgeHidden]="_notificationService.notifications.length<1" mat-stroked-button (click)="showNotification.emit()">
        {{'menu.hello' | translate}} {{username | name}} !
    </button>
    <button mat-stroked-button routerLinkActive="active" routerLink="dashboard">
        {{'menu.dashboard' | translate}}
    </button>
</mat-toolbar>