<div>
    <input type="text" class="search" placeholder="Rechercher">
    <button class="erase" type="button"><i class="fas fa-times"></i></button>
    <button (click)="onAddEntry()" type="button"><i class="fas fa-plus"></i></button>
</div>
<table>
    <thead>
        <th>Title</th>
        <th>Date</th>
        <th>Amount</th>
    </thead>
    <tbody>
        <tr *ngFor="let entry of entries">
            <td>{{entry.title}}</td>
            <td>{{entry.date}}</td>
            <td>{{entry.amount}}</td>
        </tr>
    </tbody>
</table>